@model Weather.MVC.ViewModels.ForecastViewModel

@{
    ViewBag.Title = "Locations";
}

<h2>Locations</h2>

<table class="table">
    <tr>
        <th>
            City
        </th>
        <th>
            Region
        </th>
        <th>
            Country
        </th>

    </tr>

    @foreach (var item in Model.Locations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminName1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.ActionLink("Show Weather", "Forecast", new { id = item.Id })
            </td>
        </tr>
    }

</table>
